<% layout('layouts/boilerplate') %>

	<h1>All Hometowns</h1>

	<% for (let hometown of hometowns) { %>
		<div class="card mb-5">
			<div class="row">
				<div class="col-md-4">
					<!-- TODO this is a hack, figure out why hometown.images[0].url throws undefined error -->
					<% hometown.images.forEach((image, i) => { %>
						<% if (i === 0) { %>
							<img src="<%= image.url %>" alt="" class="img-fluid">
						<% } %>
					<% }) %>
				</div>
				<div class="col-md-8">
					<h5 class="card-title mt-5">
						<%= hometown.town %>
					</h5>
					<p class="card-text">
						<%= hometown.description %>
					</p>
					<p class="card-text"><small class="text-muted">
							<%= hometown.extraCoolThings %> - <%= hometown.milesFromUni %> miles from University
						</small></p>
					<a href="hometowns/<%= hometown._id %>" class="btn btn-dark">View <%= hometown.town %></a>
				</div>
			</div>
		</div>
	<% } %>