<% layout('layouts/boilerplate') %>

	<div class="row">
		<div class="col-6 offset-1">
			<div class="card mb-3">
				<img src="<%= hometown.images[0] %>" class="card-img-top" alt="<%= hometown.description %>">
				<div class="card-body">
					<h5 class="card-title">
						<%= hometown.town %>
					</h5>
					<p class="card-text">
						<%= hometown.description %>
					</p>
				</div>
				<ul class="list-group list-group-flush">
					<li class="list-group-item">
						Submitted by <%= hometown.author.username %>
					</li>
				</ul>
				<ul class="list-group list-group-flush">
					<li class="list-group-item text-muted">
						<%= hometown.extraCoolThings %>
					</li>
				</ul>
				<% if (user && hometown.author.equals(user._id)) { %>
				<div class="card-body">
					<a href="/hometowns/<%= hometown._id %>/edit" class="card-link btn btn-info">Edit</a>
					<form class="d-inline" action="/hometowns/<%= hometown._id %>?_method=DELETE" method="POST">
						<button class="btn btn-warning">Delete</button>
					</form>
				</div>
				<% } %>
				<div class="card-footer text-muted">
					<%= hometown.milesFromUni %> miles from University
				</div>
			</div>
		</div>
		<div class="col-4">
			<h2>Leave a Review</h2>
			<form action="/hometowns/<%= hometown._id %>/reviews" class="mb-3 needs-validation" method="POST" novalidate>
				<div class="mb-3">
					<label for="range" class="form-label">Rating</label>
					<input type="range" id="range" name="review[rating]" min="1" max="5" class="form-range">
					
				</div>
				<div class="mb-3">
					<label class="form-label" for="body">Review</label>
					<textarea class="form-control" name="review[body]" id="body" cols="30" rows="3" required></textarea>
					<div class="valid-feedback">Looks good!</div>
				</div>
				<button class="btn btn-info">Submit</button>
			</form>
			<% for (let review of hometown.reviews) { %>
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-title">
						Rating: <%= review.rating %>
					</h5>
					<p class="card-text">
						Review: <%= review.body %>
					</p>
					<form action="/hometowns/<%= hometown._id %>/reviews/<%= review._id %>?_method=DELETE" method="POST">
						<button class="btn btn-sm btn-danger">Delete</button>
					</form>
				</div>
			</div>
			<% } %>
		</div>
	</div>
